[Unit]
Description=Telegram bot written in sh
After=network.target

[Service]
Type=simple
ExecStart=telegram-bot.sh -D
RestartSec=1m
Restart=on-failure

[Install]
WantedBy=multi-user.target
